.section:first-child{
  min-height: 200px;
}

.section:last-child{
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.thumbnail {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 10px 20px 10px;
  background: white;
  border: 1px solid #EEE;
}

.thumbnail a{
  position: relative;
  display: block;
  height: 150px;
  width: 150px;
}

.thumbnail .overlay{
  position: absolute;
  display: table;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .75);
  opacity: 0;
  transition: opacity .2s linear;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
}

.thumbnail .overlay span{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.thumbnail:hover .overlay{
  opacity: 1;
}

.blogpost{
  margin: 0px 0px 20px 0px;
}

.blogpost .blogdate{
  width: 75px;
}

.blogtitle {
  width: 400px;
}

.blogdate,.blogtitle{
  display: inline-block;
}

.blogpost .blogtitle a{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: black;
  font-weight: bold;
}

.blogpost .blogtitle a:hover{
  color: #CF6A6F;
}

.blogtitle:hover + .blogdate span{
  background: red;
}

.blogpost .blogdate span{
  color: white;
  background: black;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
  /* Styles */
  #main .section:nth-child(2) {
    display: none;
  }

  .blogdate {
    display: none;
  }
}
