* {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', Georgia, Palatino, Times, 'Times New Roman', serif;
}

body {
  background: #F8F8F8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
}

p {
  margin: 20px 0;
  line-height: 1.6em;
  color: #333333;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #777;
}

a:hover {
  color: #CF6A6F;
}

blockquote{
  padding-left: 15px;
  border-left: 5px solid #333333;
  font-style: italic;
  color: #333333;
}

ul, ol {
  margin: 20px;
}

li {
  font-size: 1em;
  line-height: 20px;
}

ul li {
  list-style-type: square;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

#main {
  margin-top: 40px;
  margin-left: 240px;
  width: 700px;
}

.sidebar_container {
  min-height: 1px;
  width: 240px;
}

#sidebar {
  position: fixed;
  padding-top: 40px;
  height: 100%;
  border-right: 1px solid #ccc;
  background: #F8F8F8;
}

#sidebar ul {
  list-style-type: none;
  margin: 0 40px 0px 0px;
  width: 150px;
}

#sidebar ul li:first-child{
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  text-align: center;
  margin-bottom: 40px;
}

#sidebar ul li h3{
  margin: 0px;
}

#sidebar li {
  font-size: 14px;
  line-height: 40px;
  list-style-type: none;
  border-left: 5px solid #F8F8F8;
}

#sidebar ul li a{
  text-transform: uppercase;
  color:#333333;
  padding-left: 20px;
  display: block;
}

#sidebar a:hover{
  color: #CF6A6F;
}

#sidebar ul li#blog:hover{
  border-left: 5px solid #BEC0A8;
}

#sidebar ul li#about:hover{
  border-left: 5px solid #7DB9A0;
}

#sidebar ul li#projects:hover{
  border-left: 5px solid #809488;
}

#sidebar ul li#playground:hover{
  border-left: 5px solid #A2B084;
}

#sidebar ul li#presentations:hover{
  border-left: 5px solid #5B8A94;
}

#sidebar ul li#contact:hover{
  border-left: 5px solid #13484A;
}

#sidebar span{
  color:#333;
}

#sidebar #social {
  margin-top: 40px;
  padding: 10px 0px;
  margin-right: 40px;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  text-align: center;
  width: 150px;
}

#sidebar #social a img{
  opacity: 0.5;
}

#sidebar #social a img:hover{
  opacity: 1.0;
}

.framed_pic{
  border: 1px solid #ccc;
  padding:4px;
  background: white;
  margin: 10px 10px 10px 0px;
}

.half_page{
  width: 350px;
}

.pull_left{
  float: left;
}

.section{
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.bloginfo{
  padding: 10px;
  border-top: 1px solid #CCC;
  width: 300px;
}

.infolabel{
  display: inline-block;
  width: 100px;
}

/* Smaller screens ----------- */
@media (max-width : 1048px){
  /* Styles */

  #main {
    width: 80%;
    margin: 0 auto;
  }

  .container,
  .sidebar_container {
    width: auto;
  }

  #sidebar {
    position: static;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  #sidebar ul { 
    width: auto;
    margin: 0;
  }

  #sidebar ul li:first-child {
    display: block;
    margin-bottom: 0;
  }

  #sidebar ul li {
    display: inline-block;
  }

  #sidebar ul li:hover {
    border-left: 5px solid #F8F8F8 !important;
  }

  #edge, #social, #projects,
  #playground, #presentations {
    display: none !important;
  }
}

@media (max-width : 800px){
  .container {
    width: 100%;
  }
}
